In [ ]:
import pandas as pd

# Exercise 1

Read in data stored in the file "idxstats.tsv" and save to variable called `idx_df`.

Set the column names to “name”, “length”, “mapped”, and “unmapped”.

Apply the `.describe()` and `.info()` methods to the `idx_df` object.

Look at the shape and index attributes of `idx_df`.

From `idx_df` select rows 6-12 and create a new variable called `idx_df2`.

From `idx_df` make a new dataframe `chr_mapped` consisting of columns 1 and 3 (“name” and ”mapped”). Save to a new file called `"mapped_reads_per_chr.tsv"` - Make sure the output is TAB separated.

# Exercise 2

Create a new column for `idx_df` called reads_per_kb by dividing number of mapped reads by the `length` column and multiplying by 1000.

Subset the rows that have `reads_per_kb` values greater than 5

Create a new column called `length_mbs` with length divided by 1 million (i.e., length in Megabases).

Subset the rows that have `reads_per_kb` values greater than 5 and a chromosome length under 100 Mb.

Delete the `reads_per_kb` column.

# Exercise 3

Read in GTF File "Homo_sapiens_GRCh38_107_2.gtf” as a `DataFrame`.

Set the column names to: 'seqname', 'source', 'feature’, 'start', 'end', 'score', 'strand', 'frame’, and 'attribute'.

How many unique values are there for the "source" column?

Subset all rows with the “ensembl_havana” source and assign to new DataFrame called `ens_df`.

What is the shape of `ens_df`?

Group `ens_df` by feature column and apply the `value_counts` method to get the number of rows in each feature.

# Exercise 4

Create a new DataFrame called `genes` by subsetting all rows with “gene” feature type in `ens_df`.

Create a new column called “gene_length” that contains the length of each gene in dataframe genes.

Print the mean and median of the gene lengths.

Find the top 10 longest genes and print their gene identifier.

Find the lowest 20 shortest genes and print their gene identifier.

Split the “attribute” column of the dataframe `genes` using `;` as delimiter, store the result in a new dataframe called `attributes`, then concatenante `genes` and `attributes`

Using `genes`, count the number of genes per chromosome and add the number of genes per chomosome into the `idx_df` from part 1 using the `merge` method. NOTE: use `astype()` and `pd.StringDtype()` to convert chromosome names to `string` type.

In [ ]:
# Convert chromosome names to string type in both data sets
idx_df = idx_df.astype({'name': pd.StringDtype()})
genes = genes.astype({'seqname': pd.StringDtype()})
# Count the number of genes per chromosome

# Add that information to idx_df