In [6]:
a = True
b = "Hello"
c = 5
print(a,b,c)

True Hello 5

In [7]:
running = True
i = 0
while running:
    i = i + 1
    if i == 11:
        running = False
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range (-1,-11,-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [9]:
running = True
i = 0
a = 0
while running:
    i= i + 1
    a= a + i
    if i == 10:
        running = False
        print(a)

55

In [11]:
for i in range (1,51):
    k = 0
    for j in range (1, i + 1):
        if i / j == i // j:
            k = k + 1
    if k == 2:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [12]:
for i in range (1,51):
    k = 0
    for j in range (1, i):
        if i / j == i // j:
            k = k + 1
    if k == 1:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [34]:
def complement_seq(seq):
    output = ''
    for base in seq:
        if base == 'A':
            output = output + 'T'
        elif base == 'G':
            output = output + 'C'
        elif base == 'C':
            output = output + 'G'
        elif base == 'T':
            output = output + 'A'
        else:
            print("Unknown base")
    return output


print(complement_seq('AAGATCCCT'))

TTCTAGGGA

In [35]:
def reverse_seq(seq):
    output = ''
    for base in seq:
        output = base + output
    return output

print(reverse_seq('AAGAATTCTT'))

TTCTTAAGAA

In [39]:
def reverse_complement_seq(seq):
    #output1=complement_seq(seq)
    #output2=reverse_seq(output1)
    #return output2
    return reverse_seq(complement_seq(seq))
    
print(reverse_complement_seq('AAGAATTCTT'))

AAGAATTCTT

# Create a list called 'participants' containing the of the names of your fellow trainees
participants = ['Aleema', 'Muyang', 'Yi', 'Oliver', 'Sinibaldo','Gennaro', 'Yao']

In [97]:
# Create the following new variables participants_2 and participants_3 by typing:
participants_2 = participants
participants_3 = participants.copy()

In [98]:
# Add the names of today's trainers to the list 'participants' using append
participants.append('David')
participants.append('Kevin')

In [99]:
print(participants)
print(participants_2)
print(participants_3)

['Aleema', 'Muyang', 'Yi', 'Oliver', 'Sinibaldo', 'Gennaro', 'Yao', 'David', 'Kevin']
['Aleema', 'Muyang', 'Yi', 'Oliver', 'Sinibaldo', 'Gennaro', 'Yao', 'David', 'Kevin']
['Aleema', 'Muyang', 'Yi', 'Oliver', 'Sinibaldo', 'Gennaro', 'Yao']

In [100]:
#Select the 3rd and 5th names from your participants list
participants[2:5]

['Yi', 'Oliver', 'Sinibaldo']

In [101]:
#Sort your list & select the 3rd to the 5th names from your participants list
participants.sort()
participants[2:5]

['Gennaro', 'Kevin', 'Muyang']

In [102]:
#Select the first 2 letters of the string in the third value of your participants list
participants[2][:2]

'Ge'

In [106]:
# Iterate over the participants list and set the names to keys in a dictionary with the value as 'trainee’ or ‘trainer’ depending on thier role.

for name in participants:
    if name == 'Kevin' or name == 'David':
        dict[name] = 'trainer'
    else:
        dict[name] = 'trainee'

dict

{'Aleema': 'trainee',
 'David': 'trainer',
 'Gennaro': 'trainee',
 'Kevin': 'trainer',
 'Muyang': 'trainee',
 'Oliver': 'trainee',
 'Sinibaldo': 'trainee',
 'Yao': 'trainee',
 'Yi': 'trainee'}

In [107]:
# Use a for loop to iterate over your dictionary and print the values of the keys only if they are trainees

for name in dict.keys():
    if dict[name]=='trainee':
        print(name)

Aleema
Gennaro
Muyang
Oliver
Sinibaldo
Yao
Yi

In [115]:
# Make a function called 'random_name_generator' that prints the course participants names one by one when prompted in a randomised order each time it is run

import random

def random_name_generator(x):
    random.shuffle(x)
    for name in x:
        print(name)
        
        
participants = ['Aleema', 'Muyang', 'Yi', 'Oliver', 'Sinibaldo', 'Gennaro', 'Yao']

random_name_generator(participants)

Sinibaldo
Gennaro
Oliver
Yi
Muyang
Yao
Aleema